.overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
}

.overview__heading {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
}

@media only screen and (max-width: 31.25em) {
  .overview__heading {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }
}

.overview__stars {
  margin-right: auto;
  display: flex;
}

.overview__icon_star,
.overview__icon_location {
  width: 1.75rem;
  height: 1.75rem;
  fill: var(--color-primary);
}

.overview__location {
  font-size: 1.2rem;
  display: flex;
  vertical-align: center;
}

.overview__icon_location {
  margin-right: 0.5rem;
}

.overview__price {
  background-color: var(--color-primary);
  color: #fff;
  margin-left: 3rem;
  padding: 0 2.25rem;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 31.25em) {
  .overview__price {
    padding: 0 1.5rem;
  }
}

.overview__price_total {
  font-size: 2.25rem;
  font-weight: 300;
  margin-bottom: -3px;
}

@media only screen and (max-width: 31.25em) {
  .overview__price_total {
    font-size: 1.8rem;
  }
}

.overview__price_desc {
  font-size: 0.8rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 31.25em) {
  .overview__price_desc {
    font-size: 0.5rem;
  }
}
